#carouselExampleIndicators {
  max-width: 500px;
  min-width: 500px;
  margin: 0 auto;
}


.carousel-inner img {
  max-height: 350px;
  min-height: 350px;
}
.home-container h3 {
  text-align: center;
  font-size: 40px;
}
