<div class="row">
  <div class="col-6">
    <form #form="ngForm" (ngSubmit)="addUser()">
      <div class="mb-3">
        <label for="email" class="form-label">email</label>
        <input type="text" class="form-text" id="email"
               name="email" [(ngModel)]="addUserRequest.email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">password</label>
        <input type="password" class="form-text" id="password"
               name="password" [(ngModel)]="addUserRequest.password">
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">name</label>
        <input type="text" class="form-text" id="name"
               name="name" [(ngModel)]="addUserRequest.name">
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">lastName</label>
        <input type="text" class="form-text" id="lastName"
               name="lastName" [(ngModel)]="addUserRequest.lastName">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
