<div class="row">
  <div class="col-6">
    <form #form="ngForm" (ngSubmit)="updateProduct()">
      <div *ngIf="errorMessage !== ''" class="alert alert-danger">
        <p><strong>Error occurred:</strong></p>
        {{ errorMessage }}
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">name</label>
        <input type="text" class="form-text" id="name"
               name="name" [(ngModel)]="productDetails.name">
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="text" class="form-text" id="price"
               name="price" [(ngModel)]="productDetails.price">
      </div>
      <div class="mb-3">
        <label for="available" class="form-label">available</label>
        <input type="text" class="form-text" id="available"
               name="available" [(ngModel)]="productDetails.available">
      </div>
      <div class="mb-3">
        <label for="read" class="form-label">read</label>
        <input type="text" class="form-text" id="read"
               name="read" [(ngModel)]="productDetails.read">
      </div>
      <button type="submit" (click)="updateProduct()" class="btn btn-primary mr-5">save</button>
      <button type="button" class="btn btn-danger" (click)="deleteProduct(productDetails.id)">Delete</button>
    </form>
  </div>
</div>
