
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #f5f5f5;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
  align-self: center; 
}

button:hover {
  background-color: #0056b3;
}

.price {
  text-align: center;
}
.pay button {
  text-align: center; 
}
.pay {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  margin-top: 20px;
}



.credit-card-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;

    label {
      font-weight: bold;
    }

    input {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }

  button {
    background-color: green;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }
}




.done {
  display: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}

.done h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.done h3 {
  font-size: 18px;
  margin-top: 10px;
}



