
.gym-container {
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}


h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333; 
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}


.gym-container p {
  font-size: 20px;
  color: #000;
  margin-bottom: 20px;
}


a {
  color: #007bff; 
  text-decoration: underline;
}

a:hover {
  color: #0056b3; 
}
