<div class="gym-container">
  <h1>About As</h1>
  <h3>welcome to the gym-site</h3>
  <p>this site was created by the starter programmer  rongo, hopefully  you will like it</p>
  <h3>Site</h3>
  <p>
    i made this website in 02/10/2013, first time in angular, so still new, but i learned alot with this site.
    most likely the next site will do it a bit different
  </p>
  <h3>prudacts</h3>
  <p>here we sell products that you can fine in other site separately, all together  here.</p>
 </div>
<p>plus im sorry if you see sometime some misspelling</p>
